body {
	padding: 0;
	background: #373737;
	margin: 0;
}

.menu {
	position: absolute;
	top: 50%;
	background: #e8e8e8;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0 auto;
	width: 90%;
	height: 100%;
	display: grid;
	grid-template-rows: 0.1fr 1fr; 
	box-shadow: 0px 5px 24px 2px rgba(34, 60, 80, 0.2);
}

header {
	display: flex;
	background: #373737;
}

main {
	display: grid;
	grid-template-columns: 0.3fr 1fr; 
	display: absolute;
}

.container {
	position: relative;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0;
}

.options {
	display: grid;
	grid-template-rows: 0.1fr 1fr; 
	position: absolute;
	width: 100%;
	height:100%;
	margin: 0;
}

.icon {
	display: grid;
	background: #808080;
	margin: 0;
	box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.39) inset;
	position: absolute;
	grid-template-columns: 0.1fr 1fr;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.name {
	padding-left: 1em;
	padding: 0;
	position: absolute;
	overflow-y: none;
	overflow-x: auto;
	  font-family: "Tajawal", sans-serif;
  font-weight: 300;
  display: flex;
  width:100%;
  height:100%;
    text-align: center;
    align-items: center;
  font-size: 25px;
  color:#e8e8e8;
  scrollbar-color: #D0CDC9 gray;
 	scrollbar-width: thin;
} 

.name p {
	padding: 0;
	margin: 0 0 0 10px;
}

.sections {
	display: flex;
	position: absolute;
	width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    overflow-y: auto;
    scrollbar-color: #D0CDC9 gray;
  	scrollbar-width: thin;
}

.image {
    cursor: pointer;
	display: flex;
	margin: 0 0 0 0.5em;
}

.option {
	min-height: 50px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 0.1fr;
	border-top: 1px solid #3A3A3A;
	background: #c0c0c0;
	position: relative;
	box-sizing: content-box;
}

.button {
	cursor: pointer;
}

nav {
	position: absolute;
	width: 100%;
	box-shadow: 0px 7px 10px 2px rgba(34, 60, 80, 0.2) inset;
	background: #414141;
	height: 100%;
  	transition: box-shadow 1s;
}

nav.working {
	box-shadow: none !important;

}

.option:hover {
	background: #667579;
}

.h:after {
	content:"";
	display: flex;
	width:100%;
	position: absolute;
	left:0px;
	bottom:0px;
	height:25px;
	background: rgb(128,132,128);
	background: linear-gradient(180deg, rgba(128,132,128,0) 17%, rgba(0,0,0,0.08757006220456931) 58%);
}

header p {
	overflow-y: none;
	overflow-x: auto;
	  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  display: flex;
    text-align: center;
    align-items: center;
  font-size: 25px;
  color:#e8e8e8;
  font-style: normal;
  scrollbar-color: #0B1957 #FFDBD1;
}

.addCompany {
    position:absolute;
    width:200px;
    z-index:10000;
    height:150px;
    background:#F1F3F4;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 1px;
    left: 0;
    top: 0;
}
.hidden {
    z-index:-1;
    display: none;
}
.addCompany.visible {
    z-index:1000;
    display: grid;
}

.addCompany form input {
    max-width: 100%;
}

.addCompany form {
    position: absolute;
    width:100%;
    height:100%;
      font-family: "Tajawal", sans-serif;
  font-weight: 300;
    border-radius: 1px;
    display: grid;
    grid-template-rows: 1fr 1fr 0.2fr;
}

#sendOptions {
    width:100%;
    height:100%;
    background: gray;
    color: #e8e8e8;
    font-weight: bold;
    position: absolute;
    display: flex;
    text-align:center;
    align-items: center;
    padding:0;
    box-sizing : border-box;
    border-radius: 1px;
    justify-content: center;
}
