<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Предсказатель</title>
	<link rel="stylesheet" href="../static/Styles.css">
	<script type="text/javascript" src ="../static/Main.js"></script>
	<script type="text/jat"></script>

</head>
<body>
	<div class = "menu">
		<header></header>
		<main>
			<div class ="container">
				<div class="options">
					<div class = "container">
						<div class = "icon">						
							<div class = "container">
								<svg width="50" height="50" class = "image">
										<rect x="2" y="2" width="46" height="46" rx="8" ry="8" style="stroke:#0B1957; fill: transparent;stroke-width:3;"/>
											<line x1="11" y1="11.6" x2="38" y2="11.6" style="stroke:#0B1957;stroke-width:4" />
											<line x1="11" y1="25.2" x2="38" y2="25.2" style="stroke:#0B1957;stroke-width:4" />
											<line x1="11" y1="38.8" x2="38" y2="38.8" style="stroke:#0B1957;stroke-width:4" />
											<circle cx="20" cy="11.6" r="2" stroke="#0B1957" stroke-width="3" fill="#0B1957" />
											<circle cx="30" cy="25.2" r="2" stroke="#0B1957" stroke-width="3" fill="#0B1957" />
											<circle cx="25" cy="38.8" r="2" stroke="#0B1957" stroke-width="3" fill="#0B1957" />										
								</svg>
							</div>
							<div class="container">
								<div class = "name"><p>Options</p></div>
							</div>
						</div>
					</div>
					<div class = "container h">
						<div class = "sections">
							<div class = "option">				
									<div class="container">
										<div class = "name"><p>Tinkoff</p></div>
									</div>

									<div class="container">
										<svg width="30" height="30" class = "button">
											<circle cx="15" cy="15" r="12" stroke="#0B1957" stroke-width="2" fill="none" />
											<circle cx="15" cy="17" r="1" stroke="#0B1957" stroke-width="1" fill="#0B1957" />
											<line x1="8" y1="12" x2="15" y2="17" style="stroke:#0B1957;stroke-width:3" />
											<line x1="15" y1="17" x2="22" y2="12" style="stroke:#0B1957;stroke-width:3" />
										</svg>
								</div>
							</div>							
						</div>	
					</div>
				</div>
				</div>

			<div class = "container">
				<nav>
				</nav>
			</div>

			</main>
</body>
</html>
