<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Предсказатель</title>
	<link rel="stylesheet" href="../static/Styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
	<script defer type="text/javascript" src ="../static/Main.js"></script>
</head>
<body>
	<div class = "menu">
		<header>
			<p>HOHOTON</p>
		</header>
		<main>
			<div class ="container">
				<div class="options">
					<div class = "container">
						<div class = "icon">
							<div class = "container">
								<svg width="30" height="30" class = "image" id = "image">
										<rect x="1.2" y="1.2" width="27.6" height="27.6" rx="4.8" ry="4.8" style="stroke:#e8e8e8; fill: transparent;stroke-width:3;"/>
											<line x1="6.6" y1="6.96" x2="22.8" y2="6.96" style="stroke:#e8e8e8;stroke-width:3" />
											<line x1="6.6" y1="15.12" x2="22.8" y2="15.12" style="stroke:#e8e8e8;stroke-width:3" />
											<line x1="6.6" y1="23.28" x2="22.8" y2="23.28" style="stroke:#e8e8e8;stroke-width:3" />
											<circle cx="12" cy="6.96" r="1.2" stroke="#e8e8e8" stroke-width="2" fill="#e8e8e8" />
											<circle cx="18" cy="15.12" r="1.2" stroke="#e8e8e8" stroke-width="2" fill="#e8e8e8" />
											<circle cx="15" cy="23.28" r="1.2" stroke="#e8e8e8" stroke-width="2" fill="#e8e8e8" />
								</svg>
							</div>
							<div class="container">
								<div class = "name"><p>Click to add</p></div>
							</div>
						</div>
					</div>
					<div class = "container h">
						<div class = "addCompany hidden">
								<form id = "forma">
									<div class = "inputCompany">
										<label for="inputCompany">Company:</label>
										<input type = "text" id = "inputCompany"/>
									</div>
									<div class = "inputBudget">
										<label for="inputBudget">Budget:</label>
										<input type = "text" id = "inputBudget"/>
									</div>
									<div class = "sendOptions container">
										<button id = "sendOptions">SEND</button>
									</div>
								</form>
						</div>
						<div class = "sections">
							<div class = "option">
									<div class="container">
										<div class = "name"><p>Tinkoff</p></div>
									</div>

									<div class="container">
										<svg width="30" height="30" class = "button">
											<circle cx="18" cy="15" r="0.5" stroke="#e8e8e8" stroke-width="2" fill="#e8e8e8" />
											<circle cx="15" cy="15" r="12" stroke="#e8e8e8" stroke-width="2" fill="none" />
											<line x1="18" y1="15" x2="13" y2="9" style="stroke:#e8e8e8;stroke-width:3" />
											<line x1="18" y1="15" x2="13" y2="21" style="stroke: #e8e8e8;stroke-width:3" />
										</svg>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>

			<div class = "container">
				<nav>
					<div class = "container">
						<svg class = "graph hidden"></svg>
					</div>
					<div class = "container">
						<div class = "answer">
						</div>
					</div>
				</nav>
			</div>

			</main>
</body>
</html>
